<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ericwyn</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.9,  user-scalable=no">
    <!--<link rel="stylesheet" href="css/mdui.min.css">-->
    <!--&lt;!&ndash;<link rel="stylesheet" href="css/style.css">&ndash;&gt;-->
    <!--<script src="js/mdui.min.js"></script>-->
    <link rel="stylesheet" href="//cdn.bootcss.com/mdui/0.3.0/css/mdui.min.css">
    <script src="//cdn.bootcss.com/mdui/0.3.0/js/mdui.min.js"></script>
</head>
<body class="mdui-theme-accent-pink mdui-theme-primary-teal mdui-drawer-body-left mdui-appbar-with-toolbar">
    <div class="mdui-container">
        <header class="mdui-appbar mdui-appbar-fixed">
            <div class="mdui-toolbar mdui-color-theme ">
                <button  onclick="inst.toggle()" class="mdui-btn mdui-btn-icon" ><i class="mdui-icon material-icons">menu</i></button>
                <p class="mdui-typo-headline">Ericwyn</p>
                <div class="mdui-toolbar-spacer"></div>
            </div>
        </header>
    </div>

    <div class="mdui-container doc-container mdui-m-t-3" id="card_container">

    </div>

    <div class="mdui-container doc-container mdui-p-t-4" style="display: none;" id="blog_container">
        <div class="mdui-card mdui-typo mdui-p-l-4 mdui-p-r-4 mdui-p-t-4" >
            <div id="blog_card">

            </div>
        </div>

        <div class="mdui-col-xs-6 mdui-p-r-1 mdui-m-t-2 mdui-m-b-2 mdui-p-l-0">
            <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-float-left mdui-m-l-0 mdui-color" onclick="showShareCode()">分享文章</button>
        </div>

        <div class="mdui-col-xs-6 mdui-p-r-1 mdui-m-t-2 mdui-m-b-2 mdui-p-l-0">
            <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-float-right mdui-m-l-0 mdui-color-theme" onclick="gotoPath('/')">返回主页</button>
        </div>

        <div class="mdui-col-xs-6 mdui-p-r-1 mdui-m-t-1 mdui-p-l-0">
            <div class="mdui-card mdui-typo mdui-p-a-1 mdui-hoverable" >
                <div class="mdui-card-primary-subtitle" >上一篇</div>
                <div class="mdui-card-primary-title" id="privTitle"></div>
                <div class="mdui-card-primary-subtitle" id="privTime"></div>
            </div>
        </div>
        <div class="mdui-col-xs-6 mdui-p-l-1 mdui-m-t-1 mdui-p-r-0">
            <div class="mdui-card mdui-typo mdui-p-a-1 mdui-hoverable" >
                <div class="mdui-card-primary-subtitle" >下一篇</div>
                <div class="mdui-card-primary-title" id="nextTitle"></div>

                <div class="mdui-card-primary-subtitle" id="nextTime"></div>

            </div>
        </div>

    </div>


    <div class="mdui-container doc-container mdui-m-t-3" style="display: none;" id="tag_container">

    </div>

    <div class="mdui-container doc-container mdui-m-t-3" id="archives_container">
        <div class="mdui-typo">
            <h1>2017</h1>
            <p class="mdui-m-l-2 mdui-p-t-0 mdui-p-b-0" style="font-size: 1.2em;line-height: 1.0;"><a href="aaa">测试标题标题标题</a></p>
            <p class="mdui-m-l-2 mdui-p-t-0 mdui-p-b-0" style="font-size: 1.2em;line-height: 1.0;"><a href="aaa">测试标题标标题</a></p>
            <p class="mdui-m-l-2 mdui-p-t-0 mdui-p-b-0" style="font-size: 1.2em;line-height: 1.0;"><a href="aaa">测试标题标题</a></p>
            <p class="mdui-m-l-2 mdui-p-t-0 mdui-p-b-0" style="font-size: 1.2em;line-height: 1.0;"><a href="aaa">测试</a></p>
            <p class="mdui-m-l-2 mdui-p-t-0 mdui-p-b-0" style="font-size: 1.2em;line-height: 1.0;"><a href="aaa">测试标题标题标题</a></p>
            <p class="mdui-m-l-2 mdui-p-t-0 mdui-p-b-0" style="font-size: 1.2em;line-height: 1.0;"><a href="aaa">测试标题标题</a></p>
            <p class="mdui-m-l-2 mdui-p-t-0 mdui-p-b-0" style="font-size: 1.2em;line-height: 1.0;"><a href="aaa">测试标题标题标题</a></p>
            <p class="mdui-m-l-2 mdui-p-t-0 mdui-p-b-0" style="font-size: 1.2em;line-height: 1.0;"><a href="aaa">测试标题</a></p>
            <p class="mdui-m-l-2 mdui-p-t-0 mdui-p-b-0" style="font-size: 1.2em;line-height: 1.0;"><a href="aaa">测试</a></p>
            <p class="mdui-m-l-2 mdui-p-t-0 mdui-p-b-0" style="font-size: 1.2em;line-height: 1.0;"><a href="aaa">测试标题标题标题</a></p>
            <p class="mdui-m-l-2 mdui-p-t-0 mdui-p-b-0" style="font-size: 1.2em;line-height: 1.0;"><a href="aaa">测试</a></p>
        </div>
        <div class="mdui-typo">
            <h1>2016</h1>
            <p class="mdui-m-l-2 mdui-p-t-0 mdui-p-b-0" style="font-size: 1.2em;line-height: 1.0;"><a href="aaa">测试标题标题标题</a></p>
            <p class="mdui-m-l-2 mdui-p-t-0 mdui-p-b-0" style="font-size: 1.2em;line-height: 1.0;"><a href="aaa">测试标题标题</a></p>
            <p class="mdui-m-l-2 mdui-p-t-0 mdui-p-b-0" style="font-size: 1.2em;line-height: 1.0;"><a href="aaa">测试标题标题标题</a></p>
            <p class="mdui-m-l-2 mdui-p-t-0 mdui-p-b-0" style="font-size: 1.2em;line-height: 1.0;"><a href="aaa">测试标题</a></p>
            <p class="mdui-m-l-2 mdui-p-t-0 mdui-p-b-0" style="font-size: 1.2em;line-height: 1.0;"><a href="aaa">测试</a></p>
            <p class="mdui-m-l-2 mdui-p-t-0 mdui-p-b-0" style="font-size: 1.2em;line-height: 1.0;"><a href="aaa">测试标题标题标题</a></p>
            <p class="mdui-m-l-2 mdui-p-t-0 mdui-p-b-0" style="font-size: 1.2em;line-height: 1.0;"><a href="aaa">测试</a></p>
        </div>
    </div>

</body>
<script src="js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jr-qrcode@1.1.0/dist/jr-qrcode.js"></script>
<!--<script src="js/marked.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.7/marked.js"></script>
<script>
    var path= window.location.pathname;
    if( path==="/" ){
        //引入侧边栏，然后再引入手势操作
        loadNavigation();
        var inst=new mdui.Drawer('#drawer',{swipe:true});
        loadIndexCard();
        if(window.sessionStorage.scrollTemp != null){
            document.body.scrollTop=window.sessionStorage.scrollTemp;
        }
    }else if(path === "/tag"){
        loadNavigation();
        var inst=new mdui.Drawer('#drawer',{swipe:true});

    }else if(path === "/archives"){
        loadNavigation();
        var inst=new mdui.Drawer('#drawer',{swipe:true});
        loadArchives();
    }
    else {
        loadNavigation();
        var inst=new mdui.Drawer('#drawer',{swipe:true});
        loadPathCard(path.replace("/",""));
    }
</script>
</html>